/* Parallax Styling */
.parallax-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 150px;
}

/* Tours Container Styling */
.tours-container {
  padding: 20px 50px;
  text-align: center;
  background-color: #1f7668;
}

.tours-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.tours-subheading {
  font-size: 1.2rem;
  color: #504f4f;
  margin-bottom: 30px;
}

.tours-list {
  list-style-type: none;
  padding: 0;
}

.tour-item {
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #AFD5AA;
}

.tour-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tour-link {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.tour-link:hover {
  color: #8C6057;
}

/* Dark theme */
body.dark-theme .tours-container {
  background-color: #000; /* Change background color to black */
}

body.dark-theme .tour-item {
  background-color: #333; /* Dark color for tour items */
  color: #fff; /* Light text color */
}

body.dark-theme .tour-link {
  color: #fff; /* Light color for links */
  text-decoration: none; /* Remove underline from text */
}

body.dark-theme .tour-link:hover {
  color: #8C6057; /* Hover color for links */
}